body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8fafc !important;
  color: white;
}

/* HERO */
.hero {
  color: #6c1e96;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  background: #dbeafe;
  margin: 20px 40px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.hero-img {
  flex: 1;
  text-align: center;
  margin-top: 20px;
}
input::placeholder {
  font-size: 18px !important;
}
.hero-img img {
  max-width: 100%;
  height: auto;
}

.hero-text{
  color:black;
}

.hero-text h2 {
  font-size: 40px;
}

.hero-text span {
  color: #661e92;
}

/* SEARCH */
.search-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  padding: 10px 15px;
  max-width: 900px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  gap: 10px;
  flex-wrap: wrap;
}

.search-item {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.search-item input,
.search-item select {
  color: #111;
  font-size: 14px;
  width: 100%;
  background: transparent;
}

.search-item input:focus,
.search-item select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
  border-radius: 6px;
}

.divider {
  width: 1px;
  height: 30px;
  background: #ddd;
}

.search-box button {
  padding: 12px 25px;
  background: #661e92;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* SECTION BASE */
.section {
  width: 92%;
  margin: 40px auto;
  padding: 50px 0;
  background: #f1f5f9;
  border-radius: 20px;
  color: black;
}

.section h3,
.section .grid {
  padding: 0 30px;
}

.section h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}

.section h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #661e92;
  border-radius: 10px;
  margin-top: 6px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* CARD */
.card {
    position: relative;

  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

/* CATEGORY CARD */
.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
}



/* JOB CARD */
.job-card {
  border-radius: 16px; 
  padding-right: 60px;
  overflow: hidden; 
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%; /* important */
}


.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; 
}

.share-icons {
    display: flex;
  gap: 10px;
  font-size: 18px;
}


.salary {
   background: #ecfdf5;
  color: #661e92;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 20px;
}

.job-card::before {
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #661e92;
  opacity: 1;
}
.company_logo{
   height: 50px;   /* adjust 40–60px as needed */
  width: auto;
  object-fit: contain;
}

.job-card h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.job-card p {
  font-size: 14px;
  color: #475569;
}

/* BUTTON */
.apply-btn {
  margin-top: 15px;
  padding: 10px 18px;
  border: none;
  background: linear-gradient(135deg, #661e92, #661e92);
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.apply-btn:hover {
  transform: scale(1.05);
}

/* JOB SECTION */
.job-section {
  padding: 80px 0;
  margin: 40px auto;
  width: 92%;
  background: linear-gradient(135deg, #f5f7fa, #eef3f9);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.job-section::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgba(0, 123, 255, 0.08);
  filter: blur(120px);
  top: 50px;
  right: 100px;
  z-index: 0;
}

.container {
  width: 90%;
  margin: auto;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.job-section .container {
  display: flex;
}

.left-content {
  color:black;
  max-width: 500px;
  margin-left: 50px;
}

.left-content h2 {
  font-size: 36px;
  font-weight: 700;
}

.left-content p {
  color: #6b7280;
  line-height: 1.6;
}

.btn-explore {
  margin-top:25px;
  display: inline-block;
  background: #661e92;
  color: white;
  padding: 12px 22px;
  border-radius: 25px;
  text-decoration: none;
}

/* COUNTER */
.counter-section {
  width: 92%;
  margin: 60px auto;
  text-align: center;
  background: #f1f5f9;
  padding: 50px 30px;
  color:black;
  border-radius: 20px;
}
.counter-heading {
   font-size: 26px;
    font-weight: 700;
    color: black;
}
.advice-content p {
  color:grey;
}

.how-card p {
  color:grey;
}

.counter-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.counter-box h2 {
  font-size: 32px;
  color: #661e92;
}

/* JOB ALERT */
.job-alert-container {
  background: #eef4ff;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-alert-left h2 {
  font-size: 34px;
}

.job-alert-left p {
  color: #64748b;
}

.job-alert-right img {
  width: 380px;
  max-width: 100%;
}

/* HOW SECTION */
.how-section {
  width: 92%;
  margin: 60px auto;
  text-align: center;
}

.how-section h3 {
  font-size: 26px;
    font-weight: 700;
    color: black;
}

.advice-section h3 {
   font-size: 26px;
    font-weight: 700;
    color: black;
}

.how-container {
 display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}

.how-card {
  background: white;
  padding: 30px 20px;
  border-radius: 18px;
  border: 1px solid #cbd5e1;
  text-align: center;
  position: relative;
  flex: 1;
  color: black;
  transition: 0.3s;
}

.step {
  position: absolute;
  top: -15px;
  left: 20px;
  background: #661e92;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
}

.how-card .icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.how-card:not(:last-child)::after {
  content: "➜";
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #661e92;
}

.how-card:hover {
  transform: translateY(-5px);
}

/* ADVICE */
.advice-section {
   width: 92%;
  margin: 60px auto;
  padding: 40px 30px;

}

.advice-card a {
  color: #661e92;   /* blue */
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
  transition: 0.3s;
}

.advice-card a:hover {
  color: #1d4ed8;
  text-decoration: underline;
}

.advice-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  color:black;
}

.advice-card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid #e2e8f0;
  transition: 0.3s;
}

.advice-content {
  padding: 16px;
}

.advice-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.job-alert-form button {
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  background: #661e92;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
}

.job-alert-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  max-width: 420px;
}

.job-alert-form input {
  flex: 1;
  padding: 12px 16px;
  border-radius: 50px;
  border: 1px solid #cbd5e1;
  outline: none;
  font-size: 14px;
  background: #fff;
}

.job-alert-form button:hover {
  background: #1d4ed8;
}

/* TOP HEADER */
.top-header {
  background: #661e92;
  color: white;
  padding: 8px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

/* LEFT SIDE */
.top-left {
  display: flex;
  gap: 15px;
}

.top-left a:hover {
  color: #c4b5fd;
  transform: scale(1.2);
}

.top-left a {
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.top-right {
  display: flex;
  gap: 20px;
}

.top-right span {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* RIGHT SIDE */
.top-right a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.top-right a:hover {
  text-decoration: none;
  color: inherit; 
}

/* FOOTER */
.main-footer {
  background: #6a1e95;
  color: #cbd5e1;
  margin-top: 60px;
}

/* CONTAINER */
.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

/* COLUMNS */
.footer-col h4 {
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
}

.footer-col h5 {
  font-size: 16px;
  color: white;
  margin-bottom: 15px;
}

/* LINKS */
.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 14px;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #60a5fa;
  padding-left: 5px;
}

/* CONTACT */
.footer-col p {
  font-size: 14px;
  margin-bottom: 8px;
}

/* SOCIAL */
.footer-social {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}

.footer-social a {
  color: white;
  font-size: 14px;
  background: #1e293b;
  padding: 8px;
  border-radius: 50%;
  transition: 0.3s;
}

.footer-social a:hover {
  background: #2563eb;
}

/* BOTTOM BAR */
.footer-bottom {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #1e293b;
  font-size: 14px;
}

.category-icon {
  color:#661e92;
}

.custom-border {
  border-top: 2px solid #661e92
}
.submit-btn {
  background-color: #661e92;
}

header {
  padding-top: 10px;
  padding-bottom: 10px; /* reduce if needed */
}

nav a {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

header nav {
  display: flex;
  align-items: center;
  gap: 20px;
    margin-bottom: 0 !important;

}

header nav a {
  line-height: 1;
}

.company_logo {
  
height: 50px;   /* try 45–60px */
  width: auto;
  object-fit: contain;
  display: block;    
}

.company-logo {
 position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;   /* adjust 30–45px */
  width: auto;  /* try 45–60px */
  
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .top-header {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .search-box {
    flex-direction: column;
    border-radius: 20px;
  }

  .divider {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .job-alert-container {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .top-header {
    flex-direction: column;
    gap: 6px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .how-container {
    flex-direction: column;
  }

  .how-card::after {
    content: "⬇";
    right: 50%;
    top: auto;
    bottom: -25px;
    transform: translateX(50%);
  }
}